.dashboard {
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

.infoWrapper {
    border: 1px solid hsl(0, 0%, 80%);
    background: white;
    padding: 20px;
    margin-right: 20px;
    flex: 0 1 500px;
    height: fit-content;
    border-radius: 10px;
}

.header {
    font-size: 2em;
    margin: 10px 0px 20px 0px;
    font-weight: bold;
    text-align: center;
}

.explainer {
    font-size: 1.15em;
}

.eventLog {
    border: 1px solid hsl(0, 0%, 80%);
    background: white;
    flex: 1 1 400px;
    padding: 20px;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    .dashboard {
        flex-direction: column;
    }

    .infoWrapper {
        margin-right: 0px;
        margin-bottom: 20px;
        flex: 0;
    }
}

.eventList {
    display: flex;
    flex-direction: column;
}

.event {
    border: 1px solid hsl(0, 0%, 80%);
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.event:not(:last-child) {
    margin-bottom: 10px;
}

.eventHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.15em;
}

.eventDescription {
    display: flex;
}

.eventDescription > p {
    margin: 0;
}

.eventDescription a {
    font-weight: bold;
}

.eventDescription img {
    width: 100px;
    margin-right: 10px;
}
