.table {
    border: 1px solid black;
}

.headerCell {
    padding: 10px;
    border: 1px solid black;
}

.cell {
    padding: 10px;
    border: solid 1px black;
}

.noDataWrapper {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
