.tableWrapper {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    background: white;
}

table, td, th {
    border: 1px solid hsl(0, 0%, 80%);
}

thead {
    background: hsl(270, 95%, 20%);
    color: white;
}

th {
    user-select: none;
    padding: 10px;
}

th.sortable:hover {
    background: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

tr.clickable:hover {
    background: hsl(0, 0%, 96%);
    cursor: pointer;
}

.textRowWrapper {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    font-size: 1.2em;
}

.sortArrow {
    width: 1em;
    display: inline-block;
    margin-left: 0.25em;
}

.headerText {
    margin-left: 1.25em;
}

table a {
    text-decoration: none;
    color: inherit;
}

td > div,
td > a > div {
    padding: 8px 10px;
}

