.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 20%;
}

.register h1 {
    margin: 0 0 20px 0;
}

.register span {
    font-weight: bold;
    margin-bottom: 5px;
}

.register form {
    border-radius: 10px;
    background: white;
    border: 1px solid hsl(0, 0%, 80%);
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px 20px;
    width: 300px;
}

.fieldWrapper {
    display: flex;
    flex-direction: column;
}

.fieldWrapper:not(:last-child) {
    margin-bottom: 15px;
}
